
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&display=swap');


@media (min-width: 374px ){
    body{
        margin: 0;
        background-color: hsl(30, 38%, 92%);
        width: 100vw;
        height: 100vh;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
    .card{
        font: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85vw;
        height: 90vh;
        border-radius: 10px;
        background-color:hsl(0, 0%, 100%);
    }
    .left-div{
        width: 85vw;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85vw;
        height: 40vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


    .right-div{
        width: 85vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        margin: 0% 0% 0% 10%;
    }
    .right-div > p{
        margin: 0% 5% 2% 0%;
    }
    .right-div > h4{
        font-size: .9em;
        color: darkgray;
        letter-spacing:5px;
        font-family: 'Fraunces', serif;
        font-weight: 100;
    }
    .mainp{
        width: 80%;
        font-size: 1.7rem;
        line-height: 105%;
        font-family: 'Fraunces', serif;
        font-weight: 600;    
    }
    .secondp{
        width: 90%;
        font-size: .8em;
        line-height: 140%;
        color: gray;
        font-family: 'Montserrat', sans-serif;
        font-weight: 1000;
    }
    .price{
        font-size: 1.7rem;
        font-weight: 600;
        color: hsl(158, 36%, 39%);
        font-family: 'Fraunces', serif;
    }
    .secondprice{
        font-size: .7rem;
        text-decoration: line-through;
        color: gray;
    }
    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        padding: 12px 0px 12px 0px;
        background-color: hsl(158, 36%, 37%);
        text-decoration: none;
        color: white;
        border-radius: 7px;
        font-size: 1.1rem;
        text-align: center;
        font-weight: 600;
    }
    .button:hover{
        transition: .5s;
        background-color: hsl(158, 36%, 20%);
    }
    .iconcart{
        margin-right: 5%;
        width: 6%;
    }
}



@media (min-width: 480px){
    .card{
        font: 1em;
        flex-direction: column;
        width: 75vw;
        height: 90vh;
        border-radius: 10px;
    }
    .left-div{
        width: 75vw;
        height: 39vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img{
        width: 75vw;
        height: 40vh;
    }

    .right-div{
        width: 75vw;
        height: 60vh;
    }
}


@media (min-width: 768px){
    .card{
        flex-direction: row;
        width: 80vw;
        height: 80vh;
    }

    .left-div{
        width: 40vw;
        height: 80vh;
        display: flex;
    }
    .img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40vw;
        height: 80vh;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }


    .right-div{
        width: 40vw;
        height: 80vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0% 0% 0% 4%;
    }

    .right-div > p{
        margin: 0% 0% 10% 0%;
    }
    .right-div > h4{
        margin-top: -4%;
    }
    .mainp{
        width: 80%;
        font-size: 2rem; 
    }
    .secondp{
        width: 85%;
        font-size: .9em;
    }
    .iconcart{
        width: 7%;
    }
}







@media (min-width: 1024px){
    .card{
        display: flex;
        width: 60vw;
        height: 80vh;
    }
    .img{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 30vw;
        height: 80vh;
    }
    .left-div{
        width: 50vw;
        height: 80vh;
    }
    
    .right-div{
        width: 50vw;
        height: 80vh;
        margin: 0% 0% 0% 4%;
    }
    .right-div > p{
        margin: 4% 0% 4% 0%;
    }
    .mainp{
        width: 75%;
    }
    .button{
        margin-top: 5%;
        padding: 14px 0px 14px 0px;
    }
}






@media (min-width: 1200px){
    .card{
        display: flex;
        width: 50vw;
        height: 70vh;
    }
    .img{
        width: 25vw;
        height: 70vh;
    }
    .left-div{
        width: 25vw;
        height: 70vh;
    }
    
    .right-div{
        width: 25vw;
        height: 70vh;
        margin: 0% 0% 0% 5%;
    }

}